.desc-rect {
    background-color: white;
    border-radius: 40px;
    color: black;
    padding: 1.5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 30%;
    margin-right: 30%;
    line-height: clamp(1rem, 3vw, 2rem);
}

@media (max-width: 768px) {
    .desc-rect {
        padding: 5%;
        margin-left: 10%;
        margin-right: 10%;
        line-height: 1rem;
    }
}