.navbar {
  background-color: #f9bec2;
  width: 80vw;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4rem;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  flex: 1;
}

.navbar-links li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-links li a:hover {
  color: #cd7b89;
}

.navbar-links .active-link {
  color: #ffffff;
}

.nav-icon {
    fill: #7caeb7;
    width: 3rem;
    flex-shrink: 0;
}

.navbar-single-link {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 70vw;
}

.navbar-single-link a {
  transition: color 0.3s ease;
}

.navbar-single-link a:hover {
  color: #cd7b89;
}

/*--------- Dark Mode Variables ----------*/

body.dark .navbar {
  background-color: #cd7b89;
}

body.dark .navbar-links li a {
  color: #f9bec2;
}

body.dark .navbar-links li a:hover {
  color: #f1ebdd;
}

body.dark .navbar-single-link a:hover {
  color: #f1ebdd;
}

body.dark .navbar-links .active-link {
  color: #000000;
}

@media (max-width: 768px) {
  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .navbar {
    margin-top: 5%;
    border-radius: 1rem;
    background-color: transparent;
    width: 100vw;
  }

  .navbar-single-link {
    margin-bottom: 1vh;
    padding: 7%;
    border-radius: 40px;
    justify-content: left;
    background-color: #f9bec2;
  }

  .nav-icon {
    width: 1em;
    flex-shrink: 0;
  }
}
