.navbar {
  background-color: #f9bec2;
  padding: 2% 0% 2% 0%;
  width: 50%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4rem;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-links li a:hover {
  color: #cd7b89;
}

.navbar-links .active-link {
  color: #ffffff;
}

.nav-icon {
    fill: #7caeb7;
    width: 10%;
}

.navbar-single-link {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.navbar-single-link a {
  transition: color 0.3s ease;
}

.navbar-single-link a:hover {
  color: #cd7b89;
}

@media (max-width: 768px) {
  .navbar-links {
    display: block;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .navbar {
    margin-top: 5%;
    border-radius: 1rem;
    background-color: transparent;
    width: 80%;
  }

  .navbar-single-link {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    padding: 3%;
    border-radius: 20px;
    justify-content: left;
    background-color: #f9bec2;
  }

  .nav-icon {
    width: 1em;
  }
}
