.social-button {
  display: flex;
  padding: 1rem 2rem;
  border-radius: 40px;
  background-color: #112540;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
  gap: 2rem;
  align-items: center;
  width: 30vw;
}

.social-button:hover {
  color: white;
  background-color: #7caeb7;
  transition-duration: 200ms;
}

.social-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.social-label {
  flex: 1;
  text-align: center;
}

.social-link-container {
    display: flex;
    padding: 2rem;
}

.social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--------- Dark Mode Variables ----------*/

body.dark .social-button {
  background-color: #f9bec2;
  color: #112540;
}

body.dark .social-button:hover {
  background-color: #cd7b89;
}

@media (max-width: 768px) {
    .social-button {
        font-size: 1rem;
        transition: background-color 0.3s ease;
        width: 70vw;
    }

    .social-link-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5vw;
    }
}
