/*---------------------------- Custom Title Containers ----------------------------*/

.title-wrapper {
  width: 100%;
  background-color: #f9bec2;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  box-sizing: border-box;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 1200px; /* So content doesn't stretch too much */
  width: 100%;
  justify-content: center;
}

.title-icon {
  width: 12vw;
  height: auto;
}

.title-text {
  font-size: 6rem;
  padding-top: 3rem;
}

.section-img {
  display: flex;
  width: 30%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-bottom: 3rem;
}

.bottom-empty {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: transparent;
  padding-bottom: 200px;
}

@media (max-width: 768px) {
  .title-container {
    flex-direction: column;
    gap: 0.1rem;
  }

  .title-wrapper {
    padding: 1rem 0;
  }

  .title-icon {
    width: 25vw;
  }

  .title-text {
    font-size: 3rem;
    padding-top: 1rem;
  }

  .section-img {
    width: 80%;
  }

  .bottom-empty {
    padding-bottom: 100px;
  }
}
