/*---------------------------- Custom Title Containers ----------------------------*/

.title-wrapper {
  width: 100%;
  background-color: #f9bec2;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  box-sizing: border-box;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 1200px; /* So content doesn't stretch too much */
  width: 100%;
  justify-content: center;
}

@media (max-width: 768px) {
  .title-container {
    flex-direction: column;
  }
}

.title-icon {
  width: 15vw;
  height: auto;
}
